<!DOCTYPE html>
<html>
<head>
	<title>Delete Comment</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="form-container">
	<h1 class="function-title">Deleting Comment</h1>
	<p class="poppins-small">{{comment.people.name}} - {{comment.text}}</p><p class="poppins-small"><strong>- ARE YOU SURE YOU WANT TO DELETE THIS?</strong></p>
	<form method="POST" class="">
		<input type="submit" placehlder="Yes" value="Yes" name="Yes" class="poppins-small">
	</form>
	<form>
		<input type="submit" value="No" onclick="window.open('http://0.0.0.0.xip.io:5000/all_ideas')">
	</form>
</div>
</body>
</html>